---
layout: default
title: Autonomous Discovery - Self Driving Laboratory
---

<div class="jumbotron" style="background-image: url('images/home/facebook-image.jpg'); background-size: cover;">
    <font color="white">
        <p style="font-size:30px">Rapid Prototyping Lab</p>
    </font>
    <p></p>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>The integration of robotic experimentation with AI/ML optimization for the purposes of autonomous discovery requires an immense troubleshooting effort early on. This troubleshooting often occurs at the expense of production productivity. Argonne’s Rapid Prototyping Laboratory aims to reduce this burden on productivity by providing a prototyping space for Argonne’s autonomous discovery effort and serving as a hub for cross-lab collaboration.</p>
    </div>
</div>
<hr>

<h4>FEATURED PROJECTS</h4>
<div class="row">
    {% for project in site.projects %}
    {% if project.featured %}
    <div class="col-xs-4">
        <a href="{{ project.url }}"><img class="img-responsive" src="images/projects/{{ project.image }}"></a>
        <p>{{ project.teaser }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
