---
layout: default
title: People
---

      <h1>People</h1>
    
      {% assign people = site.people | sort: 'ranking' %}

      {% for person in people %}
        {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="row">
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
            </div>
          {% endif %}
      {% endfor %}
     
      {% assign val = people.size | modulo: 2 %}
      {% if val == 1 %} 
            </div>
      {% endif %}

      <h1>Summer Students 2022</h1>
    
      {% assign people = site.summer22 | sort: 'ranking' %}

      {% for person in people %}
        {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="row">
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/summer22/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/summer22/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
            </div>
          {% endif %}
      {% endfor %}
     
      {% assign val = people.size | modulo: 2 %}
      {% if val == 1 %} 
            </div>
      {% endif %}

      
      <h1>Summer Students 2021</h1>
    
      {% assign people = site.summer21 | sort: 'ranking' %}

      {% for person in people %}
        {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="row">
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/summer21/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-xs-12 col-sm-6 member">
                    <img src="images/summer21/people/{{ person.image }}">
                    <div class="member-info">
                        <p><span class="name">{{ person.title }}</span><br>
                        <span class="position">{{ person.position }}</span><br>
                        {{ person.department }}<br>
                        {{ person.institution }}</p>
                    </div>
                </div>
            </div>
          {% endif %}
      {% endfor %}
     
      {% assign val = people.size | modulo: 2 %}
      {% if val == 1 %} 
            </div>
      {% endif %}