<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Globus Labs</title>
  <link rel="shortcut icon" href="{{ site.url }}/images/theme/favicon.ico?v=2">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TT952MQ0E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7TT952MQ0E');
  </script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <script src="/js/jquery.min.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        TeX: {
            extensions: ["cancel.js"],
            equationNumbers: {
                autoNumber: "AMS"
            },
            Macros: {
             '\(': '\\left(',
             '\)': '\\right)',
             '\[': '\\left[',
             '\]': '\\right]',
            }
        },
        tex2jax: {
            inlineMath: [ ['$','$'] ],
            displayMath: [ ['$$','$$'] ],
            skipTags: ["script","noscript","style","textarea"],
            processEnvironments: true,
            processEscapes: true,
        }
    });
   </script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="https://togetherjs.com/togetherjs-min.js"></script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


</head>

<body>
  {% assign current = page.url | downcase | split: '/' %}

  <header id="masthead">
    <nav id="navbar" class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="img-responsive"
              src="{{ site.url }}/images/globus_labs-XL-dark-bg-cropped.png" alt="Globus Labs" data-pin-nopin="true" width="192" height="38"></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" {% if page.url == '/' %}class="active" {% endif %}>Overview</a></li>
            <li><a href="/people.html" {% if current[1] == 'people.html' %}class="active" {% endif %}>People</a></li>
            <li><a href="/projects.html" {% if current[1] == 'projects.html' %}class="active" {% endif %}>Projects</a></li>
            <li><a href="/join.html" {% if current[1] == 'join.html' %}class="active" {% endif %}>Join Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">

    {{ content }}


  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><a href="http://www.uchicago.edu/"><img class="img-responsive"
              src="{{ site.url }}/images/theme/uchicago.png"></a></div>
        <div class="col-sm-3"><a href="https://www.anl.gov/"><img class="img-responsive"
              src="{{ site.url }}/images/theme/anl.png"></a></div>
        <div class="col-sm-3"></div>
      </div>
      <!-- 
				<div class="row">
              <div class="col-xs-12">
                <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> The University of Chicago</p>
              </div>
          </div>
					-->
    </div>
  </footer>

</body>

</html>
